$color-primary: blue;
$color-secondary: red;
$color-tertiary: green;

@mixin exercise($color, $border-color, $font-size) {
  color: $color;
  border: 1px solid $border-color;
  font-size: $font-size;
}

body {
  padding: 5%;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid $color-secondary;
    h1 {
      color: $color-tertiary;
      border-bottom: 1px solid $color-primary;
    }
    section {
      display: flex;
      align-items: center;
      text-align: center;
      &:nth-of-type(1) {
        article {
          &:nth-child(odd) {
            @include exercise($color-primary, $color-tertiary, 1rem);
          }
          &:nth-child(even) {
            @include exercise($color-secondary, $color-tertiary, 1rem);
          }
        }
      }
      &:nth-of-type(2) {
        article {
          @include exercise($color-tertiary, $color-primary, 24px);
          margin-bottom: 1rem;
          padding: 1rem;
        }
      }
    }
  }
}
